<div class="container">
  <table *ngIf="stateHome" class="table table-responsive-sm">
    <tbody>
      <tr>
        <td>Nome</td>
        <td>Acertos</td>
      </tr>
      <tr *ngFor="let s of scores; let i = index;">
        <td>{{s.userName}}</td>
        <td>{{s.totalHits}}</td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="stateQuizInit" class="table table-responsive-sm">
    <tbody>
      <tr>
        <td colspan="2">
          <span class="state running">Criando o quiz...</span>
        </td>
      </tr>
    </tbody>

  </table>

  <table *ngIf="stateFinish" class="table table-responsive-sm">
    <tbody>
      <tr>
        <td>
          <div class="basic-card {{showCssQuestionFirst()}}" (click)="selected(1)">
            <div class="card-content">
                <span class="card-title">
                  {{question?.first?.name}}
                </span>
                <p class="card-text">
                  {{question?.first?.description}}
                </p>
            </div>

            <div class="card-link">
                <span *ngIf="showAnswer">Avaliação: {{question?.first?.evaluation}}</span>
            </div>
          </div>
        </td>

        <td>
          <div class="basic-card {{showCssQuestionSecond()}}" (click)="selected(2)">
            <div class="card-content">
              <span class="card-title">
                {{question?.second?.name}}
              </span>
              <p class="card-text">
                {{question?.second?.description}}
              </p>
            </div>

            <div class="card-link">
                <span *ngIf="showAnswer">Avaliação: {{question?.second?.evaluation}} pontos</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>

  </table>


  <table *ngIf="ended" class="table table-responsive-sm">
    <tr>
      <br>
      <span class="state running">Você alcançou o limite de {{errorsLimit}} erros e o jogo terminou!</span>
    </tr>
  </table>

  <div *ngIf="stateQuizInit || stateFinish" class="subtitle-message">
    <span style="color: blue;">
      Acertos: {{totalHits}}
    </span>
    |
    <span style="color: red;">
      Erros: {{totalErrors}}
    </span>
    <br>
  </div>

  <div *ngIf="showAnswer && !ended">
    <a href="javascript:void(0)" (click)="next()" class="float">
      <i class="fa fa-arrow-right my-float" aria-hidden="true"></i>
    </a>
  </div>

  <a *ngIf="stateHome" href="javascript:void(0)" (click)="start()" class="float">
    <i class="fa fa-play my-float" aria-hidden="true"></i>
  </a>

  <a style="margin-right: 5em;" *ngIf="ended" href="javascript:void(0)" (click)="backToHome()" class="float">
    <i class="fa fa-home my-float" aria-hidden="true"></i>
  </a>
  <a *ngIf="ended" href="javascript:void(0)" (click)="restart()" class="float">
    <i class="fa fa-repeat my-float" aria-hidden="true"></i>
  </a>

</div>
